.webmadewell {
    background-color: white;
}

body {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 8px;
    /* в основном для вертикальных полос прокрутки */
    height: 10px;
    /* в основном для горизонтальных полос прокрутки */
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    /* плашка-бегунок */
    background: #000000;
}

.styled-scrollbars::-webkit-scrollbar-track {
    /* фон */
    background: #ffffff;
}

.h3-white {
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
}


/* <select> styles */

select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(/images/icons/caret-down.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}

select option {
    color: #000000;
    padding: 10px;
    background-color: rgba(155, 155, 155, 0.164);
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}
.footer-form >input {
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
  }
  .footer-form > textarea {
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    resize: vertical;
  }
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("/images/suppliers.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #a4a4c3;
    opacity: 0.3;
}

.header-section {
    position: relative;
    padding: 15% 0 10%;
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.header-menu {
    position: relative;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

#content-wrap {
    position: relative;
    background: linear-gradient(180deg, #e5d54f, #bbbbbb);
}

.content {
    position: relative;
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
    padding: 250px 40px;
}

.go-top {
    position: fixed;
    right: 50px;
    bottom: 15%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    background-color: rgba(211, 211, 211, 0.507);
    padding: 10px;
    line-height: 0;
    border-radius: 50%;
    transition: all 0.3s linear;
    z-index: 1001;
}

.go-top:hover {
    background-color: rgba(211, 211, 211, 0.87);
}

.go-top--show {
    opacity: 1;
    visibility: visible;
    animation: scaleUp 2s infinite linear;
}

.footer {
    background-color: rgb(187, 187, 187);

}

.footer__inner {
    padding: 30px 0;
    text-align: center;
    max-width: 890px;
    margin: auto;

}

table {
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}

th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child,
td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #F8E391;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

.header-menu {
    background-color: rgba(0, 0, 0, 0.301);
}

.header-menu__wrapper {
    max-width: 890px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
}

.header-menu__item {
    position: relative;
    padding: 20px 0;
}

.header-menu__item__link,
.header-menu__item-sublock__item {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu__item__link:hover {
    text-decoration: underline;
}

.header-menu__item-sublock {
    position: absolute;
    top: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 15px;
    z-index: 1001;
}
.header-menu__item-sublock:empty{
    opacity: 0;
    visibility: hidden;
}
.header-menu__item-sublock__item {
    white-space: nowrap;
}

.header-menu__item:hover>.header-menu__item-sublock {
    display: block;
}

.progress__label {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.progress__total-label {
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    display: block;
    text-align: right;
}

.progress__bar {
    width: 100%;
    background-color: #d8d8d8;
    position: relative;
    border-radius: 10px;
}

.progress__bar-progress {
    width: 0%;
    border-radius: 10px;
    height: 20px;
    background-color: hsl(59, 100%, 50%);
}

.progress__bar-transaction {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.progress__bar-transaction__point {
    width: 32px;
    height: 32px;
    background-color: hsl(59, 100%, 50%);
    animation: opacityUp 1s ease-in-out;
    transform: translateX(-50%);
    display: block;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.progress__bar-transaction__point:hover {
    width: 40px;
    height: 40px;
    opacity: 0.5 !important;
}

.progress__bar-transaction-info {
    position: absolute;
    top: -100%;
    transform: translate(-45%, -100%);
    background: hsl(59, 100%, 50%);
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
}

.progress__bar-transaction-info__price {
    margin-bottom: 10px;
}

.progress__bar-transaction-info__type {
    white-space: nowrap;
    font-weight: 700;
}

.progress__bar-transaction__point:hover+.progress__bar-transaction-info {
    opacity: 1;
}

.select-form {
    display: flex;
    gap: 20px;
}

.select-form>select {
    flex: 1;
}

.button-water {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    padding: 0.75em 1em;
    color: blue;
    border: 0.15em solid blue;
    border-radius: calc(0.2em + 0.5em + 0.15em);
    transition: 4s;
}

.button-water:before,
.button-water:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgba(0, 0, 255, 0.25);
    transition: 2s;
}

.button-water:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button-water:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button-water:hover,
.button-water:focus {
    color: white;
}

.button-water:hover:before,
.button-water:hover:after,
.button-water:focus:before,
.button-water:focus:after {
    transform: none;
    background-color: rgba(0, 0, 255, 0.75);
}

@keyframes opacityUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: translateY(-50%) scale(1);
    }
    50% {
        transform: translateY(-50%) scale(1.2);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}