html {
    background-color: #fafafa;
}

body {
    margin: 0;
    font-family: 'Neue Machina', sans-serif;

}
.body-center{
    text-align: center;
    height: 100vh;
}

.styled-scrollbars::-webkit-scrollbar {
    width: 8px;
    /* в основном для вертикальных полос прокрутки */
    height: 10px;

    /* в основном для горизонтальных полос прокрутки */
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    /* плашка-бегунок */
    border-radius: 10px;
    background: #000000;
}

.styled-scrollbars::-webkit-scrollbar-track {
    /* фон */
    background: #ffffff;
}

.h3-gray {
    font-size: 22px;
    color: #b6b6b6;
    font-weight: 700;
}


/* <select> styles */

select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(/images/icons/caret-down.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: #8fa1a9;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}

.form-custom__input,
.form-custom__select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-custom__button {
    width: 100%;
    background-color: rgb(133, 133, 133);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-custom__button:hover {
    background-color: rgb(104, 104, 104);
}


select option {
    color: #000000;
    padding: 10px;
    background-color: rgba(155, 155, 155, 0.164);
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}


.footer {
    background: #fafafa;
    max-width: 1440px;
    margin: 0 auto;
}

.footer__inner {
    padding: 20px 30px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-nav-block {
    display: flex;
    flex-direction: column;
}

.footer-nav-block__title {
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-nav-block__text {
    white-space: nowrap;
    margin-bottom: 10px;
}

.footer-nav-block__text:last-child {
    margin-bottom: 0;
}

.footer-nav-block-feedback {
    position: relative;
    margin-top: 30px;
    padding: 10px;
}

.footer-nav-block__input {
    -webkit-appearance: none;
    outline: 0;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    transition: background-color .25s, border-color .25s;
    background-color: transparent;
    width: 100%;
}

.footer-nav-block__button {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.footer-nav-block__button:hover {
    background-color: #c6c6c6;
}

.footer-nav-block__button>img {
    width: 100%;
}

.footer-nav-block__input:not(:placeholder-shown)+.footer-nav-block__button {
    opacity: 1;
    visibility: visible;
}

.footer-line {
    background: black;
    height: 1px;
    margin: 3% 0;
}

.footer-info {}

.footer-info__text {}


h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

#content-wrap {
    position: relative;

}

.content {
    position: relative;
    max-width: 1440px;
    margin: auto;
    padding: 0px 20px;
    background-color: white;
}

.content__images-big {
    width: 100%;
    height: 700px;
    border-radius: 50px;
    object-fit: cover;
}

.content__images-slide {
    background-color: #f5f4ee;
    margin: 6% 0;

}

.content__images-slide__inner {
    display: flex;
    padding: 15px 40px;
    align-items: center;
    gap: 30px;
    min-height: 400px;
}

.content__images-slide--invert>.content__images-slide__inner {
    flex-direction: row-reverse;
}

.content__images-slide-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.content__images-slide-info__text {
    font-size: 25px;
    text-transform: uppercase;
}

.content__images-slide-info__button {
    display: inline;
    width: fit-content;
    background-color: #987561;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    padding: 10px 30px;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.2s ease-in-out;
}

.content__images-slide-info__button:hover {
    background-color: #634f44;
}

.content__images-slide__photo {
    flex: 1;
    align-self: stretch;
}

.content__images-slide__photo>img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.content__choice-page {
    width: 100%;
    margin: 4% 0;
}

.content__choice-page__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.content__choice-page__item {
    text-align: center;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.content__choice-page__item:hover {
    background-color: #aaaeaf;
    color: white;
}

.go-top {
    position: fixed;
    left: 50px;
    bottom: 15%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    background-color: rgba(211, 211, 211, 0.507);
    padding: 10px;
    line-height: 0;
    border-radius: 50%;
    transition: all 0.3s linear;
    z-index: 1001;
}

.go-top:hover {
    background-color: rgba(211, 211, 211, 0.87);
}

.go-top--show {
    opacity: 1;
    visibility: visible;
    animation: scaleUp 2s infinite linear;
}

table {
    width: 100%;
    table-layout: fixed;
}


th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #858585;
    text-transform: uppercase;
    text-align: center;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(133, 133, 133);
    text-align: center;
    border-bottom: solid 1px rgba(133, 133, 133, 0.1);
}

.element-animation {
    opacity: 0;
    transform: translateY(40%);
    transition: all 1s linear;
}

.element-animation--show {
    opacity: 1;
    transform: translateY(0%);
}

.table__delete-button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.header__wrapper,
.header-menu__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
    padding: 0 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.header-menu__icons {
    gap: 15px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1b1b1b;
    gap: 30px;
}

.header-menu__links {
    cursor: pointer;
}

.header-menu__item {
    position: relative;
    padding: 20px 0;
}

.header-menu__item__link,
.header-menu__item-sublock__item {
    color: #1b1b1b;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.header-menu__item-sublock__item {
    color: white;
}

.header-menu__item__link:hover,
.header-menu__item-sublock__item:hover {
    text-decoration: underline;
}

.header-menu__item-sublock {
    position: absolute;
    top: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 15px;
    z-index: 1001;
}

.header-menu__item-sublock:empty {
    opacity: 0;
    visibility: hidden;
}

.header-menu__item-sublock__item {
    white-space: nowrap;
}

.header-menu__item:hover>.header-menu__item-sublock {
    display: block;
}

.progress__label {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.progress__total-label {
    text-transform: uppercase;
    color: #8fa1a9;
    padding: 10px;
    display: block;
    text-align: left;
}

.progress__bar {
    background-color: #d8d8d8;
    position: relative;
    border-radius: 10px;
    height: 600px;
    display: inline-block;
}

.progress__bar-progress {
    width: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 0%;
    background-color: #8fa1a9;
}

.progress__bar-transaction {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress__bar-transaction__point {
    width: 32px;
    height: 32px;
    background-color: #8fa1a9;
    animation: opacityUp 1s ease-in-out;
    display: block;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.progress__bar-transaction__point:hover {
    width: 40px;
    height: 40px;
    opacity: 0.5 !important;
}

.progress__bar-transaction-info {
    position: absolute;
    top: -100%;
    background: #8fa1a9;
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    left: 100%;
}

.progress__bar-transaction-info__price {
    margin-bottom: 10px;
}

.progress__bar-transaction-info__type {
    white-space: nowrap;
    font-weight: 700;
}

.progress__bar-transaction__point:hover+.progress__bar-transaction-info {
    opacity: 1;
}

.select-form {
    display: flex;
    gap: 20px;
}

.select-form>select {
    flex: 1;
}

.button-water {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75em 1em;
    color: blue;
    border: 0.15em solid blue;
    border-radius: calc(0.2em + 0.5em + 0.15em);
    transition: 4s;
}

.button-water:before,
.button-water:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgba(0, 0, 255, 0.25);
    transition: 2s;
}

.button-water:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
}

.button-water:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
}

.button-water:hover,
.button-water:focus {
    color: white;
}

.button-water:hover:before,
.button-water:hover:after,
.button-water:focus:before,
.button-water:focus:after {
    transform: none;
    background-color: rgba(0, 0, 255, 0.75);
}

.promo-banner {
    background: #8fa1a9;
    color: #ffffff;
}

.promo-banner__wrapper {
    padding: 10px;
    text-align: center;

}

.login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative;
    top: 50%;
    border: none;
}

/*Modal*/
h4 {
    font-weight: bold;
    color: #fff;
}

.close {
    color: #fff;
    transform: scale(1.2)
}

.modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right, #F87E7B, #B05574);
}

.form-control {
    margin: 1em 0;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
    border-color: #fff;
}

.username,
.password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;
}

.form-control::-webkit-input-placeholder {
    color: #eee;
}

.form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
}

.login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}

.login:hover {
    background: #FAB87F;
    color: #fff;
}

@keyframes opacityUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: translateY(-50%) scale(1);
    }

    50% {
        transform: translateY(-50%) scale(1.2);
    }

    100% {
        transform: translateY(-50%) scale(1);
    }
}